#login {
    position: absolute;
    top: 30%;
    left: 32%;
    font-size: 10px;
    width: 325px;
}

#login h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    background-color: darkslategrey;
}

#login input[type='text'] {
    position: relative;
    width: 318px;
    height: 52px;
    font-size: 20px;
    top: 41px;
}

#login input[type='submit'] {
    width: 100%;
    height: 38px;
    color: #0d0e0d;
    background-color: rgb(107, 165, 20);
    border-radius: 5px;
    border: 1px solid black;
}

#login input[type='text'] {
    position: relative;
    width: 318px;
    height: 52px;
    font-size: 20px;
    top: -13px;
}

#login input[type='password']{
    position: relative;
    width: 318px;
    height: 52px;
    font-size: 20px;
    top: -9px;
}

#login input[type='text']::placeholder{
    font-size: 20px;
}

#login input[type='password']::placeholder{
    font-size: 20px;
}

#login img{
    position: absolute;
    left: 517px;
    top: -14px;
    width: 395px;
    height: 448px;
    display: flex;
    flex-direction: row;
}

#login input[type='submit']:hover{
    cursor: pointer;
    background-color: chartreuse;
}